body {
  margin: 0;
  color: #464646;
  font: 14px/17px 'pf_dindisplay_proregular', sans-serif;
  background: #ffffff;
  min-width: 960px;
}

img {
  border-style: none;
}

a {
  color: #ef4036;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  text-decoration: underline;
}

* {
  outline: none;
}

input,
textarea,
select {
  font: 100% 'pf_dindisplay_proregular', sans-serif;
  vertical-align: middle;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog {
  display: block;
}

p {
  margin: 0 0 16px;
}

.clear:after {
  display: block;
  clear: both;
  content: '';
}

.img-holder img {
  vertical-align: top;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.container {
  width: 920px;
  padding: 0 20px;
  margin: 0 auto;
}

#wrapper {
  overflow: hidden;
  position: relative;
}

#header {
  color: #fff;
  padding-bottom: 33px;
  position: relative;
  z-index: 6;
  margin: 0 0 -46px;
}

#header:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #ef4036;
  top: -50px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-2.4deg);
  -ms-transform: rotate(-2.4deg);
  transform: rotate(-2.4deg) skewX(-2.4deg) skewY(0deg);
}

.promo-img {
  position: relative;
  z-index: 4;
  text-align: center;
  background: #dac3b3;
  margin: 0;
}

.promo-img .img-holder {
  position: absolute;
  top: 0;
  left: -1000px;
  right: -1000px;
}

.promo-img img {
  vertical-align: top;
}

.promo-img .container {
  height: 390px;
  position: relative;
}

.promo-img .promo-title {
  position: absolute;
  bottom: 45px;
  left: 182px;
  font: 36px/42px 'pf_dindisplay_probold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}

.promo-img .promo-title.size2 {
  font-size: 36px;
  line-height: 36px;
  font-family: 'pf_dindisplay_promedium', sans-serif;
  left: 20px;
  bottom: 85px;
  text-transform: none;
}

.main-content {
  position: relative;
  z-index: 5;
  background: #fff;
  padding: 26px 0 25px;
}

.main-content:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: #fff;
  top: -25px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-1.4deg);
  -ms-transform: rotate(-1.4deg);
  transform: rotate(-1.4deg) skewX(-1.4deg) skewY(0deg);
}

#footer {
  position: relative;
  z-index: 7;
  height: 177px;
}

#footer:after {
  content: '';
  background: #ef4036;
  position: absolute;
  z-index: -1;
  top: -30px;
  left: 0;
  bottom: -50px;
  right: 0;
  -webkit-transform: rotate(2deg) skewX(2deg) skewY(0deg);
  -ms-transform: rotate(2deg) skewX(2deg) skewY(0deg);
  transform: rotate(2deg) skewX(2deg) skewY(0deg);
}

#footer.right-angle:after {
  -webkit-transform: rotate(-2deg) skewX(-2deg) skewY(0deg);
  -ms-transform: rotate(-2deg) skewX(-2deg) skewY(0deg);
  transform: rotate(-2deg) skewX(-2deg) skewY(0deg);
}

.head-menu {
  margin: 0 0 10px -20px;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
}

.head-menu li {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 0 0;
}

.head-menu li.active a {
  position: relative;
}

.head-menu li.active a:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 15px;
  right: 15px;
  height: 2px;
  background: #fff;
}

.head-menu a {
  display: block;
  color: #fff;
  padding: 7px 15px;
  text-align: center;
}

.head-menu a:hover {
  background: #db281e;
  text-decoration: none;
}

.logo {
  margin: 9px 36px 0 0;
  width: 104px;
  height: 41px;
  overflow: hidden;
  display: block;
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  float: left;
}

.logo a {
  height: 100%;
  display: block;
}

.header-frame {
  position: relative;
  margin: 0 0 20px;
}

.header-frame .link-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}

.header-frame .link-list li {
  float: left;
  text-transform: uppercase;
}

.header-frame .link-list li:first-child a {
  border-radius: 50px 0 0 50px;
  padding-left: 30px;
}

.header-frame .link-list li:last-child a {
  border-radius: 0 50px 50px 0;
  padding-right: 30px;
}

.header-frame .link-list li:first-child:last-child a {
  border-radius: 50px;
}

.header-frame .link-list a {
  display: block;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  padding: 16px 15px;
  background: #e32b21;
  color: #fff;
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-size: 12px;
  line-height: 15px;
}

.header-frame .link-list a:hover {
  background: #cd180e;
  text-decoration: none;
}

.header-frame .link-list .ico {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.header-frame .link-list .text {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal;
}

.header-frame .phone-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.header-frame .phone-list li {
  float: left;
}

.header-frame .phone-list a {
  color: #fff;
  display: block;
  text-align: right;
  padding: 12px 10px;
}

.header-frame .phone-list a:hover {
  text-decoration: none;
  background: #db281e;
}

.header-frame .phone-list .phone {
  font: 18px/20px 'pf_dindisplay_probold', sans-serif;
  display: block;
  margin: 0 0 -1px;
}

.header-frame .phone-list .address {
  font-size: 14px;
  line-height: 17px;
  display: block;
}

#nav {
  margin: 0 0 0 -20px;
  padding: 0;
  list-style: none;
  display: table;
  width: 100%;
}

#nav > li {
  display: table-cell;
  vertical-align: top;
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 13px;
  font-family: 'pf_dindisplay_probold', sans-serif;
}

#nav > li:hover > a {
  background: #e32b21;
}

#nav > li > a {
  display: block;
  text-align: left;
  padding: 8px 20px;
}

#nav > li.active a {
  position: relative;
}

#nav > li.active a:before {
  content: '';
  position: absolute;
  height: 2px;
  top: 100%;
  margin-top: -2px;
  left: 20px;
  right: 20px;
  background: #fff;
}

#nav a {
  color: #fff;
}

#nav a:hover {
  text-decoration: none;
}

#nav .drop {
  position: absolute;
  top: 100%;
  right: 0;
  background: #e32b21;
  width: 272px;
  padding: 10px;
  display: none;
}

#nav > li:hover .drop {
  display: block;
}

#nav .deco {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/deco01.png) no-repeat;
  width: 23px;
  height: 7px;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  margin: 0;
}

#nav ul li a {
  padding: 8px 10px;
  display: block;
}

#nav ul li a:hover {
  background: #cd180e;
}

.aside {
  float: left;
  width: 120px;
}

.content-holder {
  float: right;
  width: 760px;
  font-family: 'pf_dindisplay_prolight', sans-serif;
}

.content-holder .text-content {
  float: left;
  width: 440px;
}

.content-holder .text-sidebar {
  float: right;
  width: 280px;
}

.content-holder .text-sidebar .btn-holder {
  padding: 10px 0 0;
}

.side-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-menu li {
  margin: 0 0 10px;
  font: 14px/17px 'pf_dindisplay_prolight', sans-serif;
}

.side-menu li.active a {
  color: #464646;
}

.content-box {
  margin: 0 0 36px;
}

.content-box.last {
  margin-bottom: 173px;
}

.box-description {
  font-size: 18px;
  line-height: 21px;
  font-family: 'pf_dindisplay_promedium', sans-serif;
  margin: 0 0 16px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  padding: 12px 10px 11px;
  text-decoration: none;
  cursor: pointer;
  font: 14px/16px 'pf_dindisplay_probold', sans-serif;
  text-transform: uppercase;
}

.btn .ico {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.btn:hover {
  text-decoration: none;
  background: #db281e;
}

.btn.style2 {
  border-radius: 0;
}

button.btn {
  border: none;
  height: 40px;
  padding: 11px 38px 11px;
}

.red-btn {
  background: #ef4036;
  color: #fff;
}

.gray-btn {
  background: #c2c2c2;
  color: #fff;
}

.gray-btn:hover {
  background: #959595;
}

.block-btn {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.doc-list {
  margin: 0;
  padding: 0 0 29px;
  list-style: none;
}

.doc-list li {
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 9px;
}

.doc-list li:before {
  content: '•';
  color: #ef4036;
  position: absolute;
  top: 0;
  left: 6px;
  font-size: 18px;
}

.step-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.step-list li {
  padding: 0 0 6px;
  position: relative;
}

.step-list li:before {
  content: '';
  position: absolute;
  top: 52px;
  width: 2px;
  bottom: 7px;
  left: 20px;
  background: #ef4036;
}

.step-list li:last-child:before {
  display: none;
}

.step-list .num {
  float: left;
  background: url(../images/num-bg.png) no-repeat;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #ef4036;
  font: 20px/40px 'pf_dindisplay_probold', sans-serif;
  margin: 2px 0 0 1px;
}

.step-list .frame {
  margin-left: 50px;
}

.step-list .title {
  font: 18px/21px 'pf_dindisplay_probold', sans-serif;
  margin: 0;
  color: #ef4036;
  text-transform: uppercase;
}

.price-list {
  padding: 0 0 48px;
}

.price-list .title {
  overflow: hidden;
  color: #b2b2b2;
  font-family: 'pf_dindisplay_prolight', sans-serif;
  margin: 0 0 13px;
}

.price-list .row {
  width: 100%;
  position: relative;
  margin: 0 0 3px;
  overflow: hidden;
  background: url(../images/dotted.gif) repeat-x 0 12px;
}

.price-list .row .text {
  float: left;
  background: #fff;
  padding: 0 4px 0 0;
}

.price-list .row .price {
  float: right;
  color: #ef4036;
  background: #fff;
  padding: 0 0 0 5px;
}

.price-list .description {
  color: #959595;
  font-size: 12px;
  line-height: 14px;
  margin: -3px 0 3px;
}

.price-list .col {
  width: 65px;
  float: left;
}

.price-list .col .price {
  float: left;
  color: #464646;
  padding: 0 5px;
  margin: 0 -5px;
}

.price-list .col:last-child .price {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0 0 29px;
  list-style: none;
}

.list li {
  padding: 0 0 0 20px;
  position: relative;
  margin: 0 0 16px;
}

.list li:before {
  content: '•';
  color: #464646;
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 14px;
}

.list.red li:before {
  color: #ef4036;
}

.list.small-indent li {
  margin: 0 0 2px;
}

.brand-gallery {
  position: relative;
  margin: 0 0 50px;
  padding: 0 40px;
}

.brand-gallery .hide-description {
  display: none;
}

.brand-gallery .gallery-holder {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.brand-gallery .slide-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 9999px;
}

.brand-gallery .slide {
  float: left;
  width: 140px;
  margin: 0 14px;
}

.brand-gallery .slide img {
  vertical-align: top;
}

.brand-gallery .prev,
.brand-gallery .next {
  background: url(../images/arrows.png) no-repeat;
  width: 20px;
  height: 32px;
  position: absolute;
  top: 50%;
  left: 0px;
  text-decoration: none;
  overflow: hidden;
  text-indent: -9999px;
  margin-top: -16px;
}

.brand-gallery .prev:hover,
.brand-gallery .next:hover {
  background-position: 0 -32px;
}

.brand-gallery .next {
  background-position: -20px 0;
  left: auto;
  right: 0px;
}

.brand-gallery .next:hover {
  background-position: -20px -32px;
}

.footer-frame {
  padding: 40px 0 25px;
  color: #fff;
}

.footer-frame a {
  color: #fff;
}

.footer-frame .copy {
  float: left;
}

.footer-frame .created {
  float: right;
}

.index-page #header {
  height: auto;
  padding: 0 0 33px;
}

.head-box {
  height: 262px;
}

.head-box .link {
  position: absolute;
  text-transform: uppercase;
  color: #fff;
  font-family: 'pf_dindisplay_probold', sans-serif;
  border-radius: 500px;
}

.head-box .link:hover {
  background-color: #e32b21;
  -webkit-box-shadow: 0 0 0 25px #e32b21;
  box-shadow: 0 0 0 25px #e32b21;
  text-decoration: none;
}

.head-box .link.big {
  background: url(../images/deco02.png) no-repeat;
  width: 205px;
  height: 204px;
  text-align: center;
  font: 18px/21px 'pf_dindisplay_probold', sans-serif;
  top: 50%;
  left: 50%;
  margin: -87px 0 0 -102px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 81px 0 0;
  border-radius: 500px;
}

.head-box .link.big:hover {
  background-color: #e32b21;
  -webkit-box-shadow: 0 0 0 15px #e32b21;
  box-shadow: 0 0 0 15px #e32b21;
  text-decoration: none;
}

.head-box .link.left {
  padding: 0 0 0 63px;
  top: 50%;
  left: 0;
  margin: -2px 0 0 90px;
}

.head-box .link.left:before {
  content: '';
  background: url(../images/ico31.png) no-repeat;
  width: 33px;
  height: 46px;
  position: absolute;
  top: -7px;
  left: 10px;
}

.head-box .link.right {
  padding: 0 0 0 63px;
  top: 50%;
  right: 0;
  margin: 0px 107px 0 0;
}

.head-box .link.right:before {
  content: '';
  background: url(../images/ico06.png) no-repeat;
  width: 48px;
  height: 44px;
  position: absolute;
  top: -3px;
  left: 0;
}

.main-content.right {
  background: none;
  padding-top: 15px;
  padding-bottom: 53px;
}

.main-content.right:before {
  -webkit-transform: rotate(2.4deg) skewX(2.4deg) skewY(0deg);
  -ms-transform: rotate(2.4deg) skewX(2.4deg) skewY(0deg);
  transform: rotate(2.4deg) skewX(2.4deg) skewY(0deg);
}

.promo-list {
  margin: 0 -40px 0 0;
  padding: 0 0 22px 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -10px;
}

.promo-list > li {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin: 0 40px 44px 0;
}

.promo-list > li > a {
  display: block;
  text-decoration: none;
  color: #464646;
}

.promo-list > li > a .title {
  color: #ef4036;
}

.promo-list > li > a > * {
  display: block;
}

.promo-list > li > a:hover {
  text-decoration: none;
  background: #d9d9d9;
  -webkit-box-shadow: 0 0 0 20px #d9d9d9;
  box-shadow: 0 0 0 20px #d9d9d9;
}

.promo-list .img-holder {
  min-height: 55px;
  margin: 0 0 14px;
}

.promo-list .title {
  text-transform: uppercase;
  font: 18px/21px 'pf_dindisplay_probold', sans-serif;
}

.promo-list p {
  margin: 0;
}

.content-holder.wide {
  float: none;
  width: 100%;
}

.content-holder.wide .text-content {
  width: 600px;
}

.read-more {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/deco03.png) no-repeat;
  width: 22px;
  height: 6px;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
  margin: 0 0 0 5px;
}

.gray-comment {
  background: #ebebeb;
  border-radius: 4px;
  position: relative;
  padding: 24px 30px 33px;
  margin: -13px 0 59px;
  display: block;
  color: #464646;
}

.gray-comment:before {
  content: '';
  position: absolute;
  background: url(../images/deco16.png) no-repeat;
  width: 34px;
  height: 32px;
  top: 100%;
  right: 120px;
}

.gray-comment:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 2px #ef4036;
  box-shadow: 0 0 0 2px #ef4036;
}

.gray-comment:hover:before {
  background-position: 0 -32px;
}

.main-content.gray {
  background: none;
  margin: 0 0 -40px;
  padding: 45px 0 116px;
}

.main-content.gray:before {
  background: #ebebeb;
}

.step-list.inline {
  margin: 0 -40px 0 0;
  padding: 20px 0 22px 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -10px;
}

.step-list.inline > li {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 280px;
  margin: 0 40px 30px 0;
}

.step-list.inline > li:before {
  right: -34px;
  top: 22px;
  left: 54px;
  height: 3px;
  width: auto;
}

.step-list.inline > li.last-num:before {
  display: none;
}

.step-list.inline > li.last-in-row:before {
  right: 0;
}

.step-list.inline > li.last-in-row:after {
  content: '';
  position: absolute;
  background: url(../images/deco06.png) no-repeat;
  width: 40px;
  height: 3px;
  top: 22px;
  left: 100%;
}

.step-list.inline > li.first-in-row:after {
  content: '';
  position: absolute;
  background: url(../images/deco07.png) no-repeat;
  width: 35px;
  height: 3px;
  top: 22px;
  left: -40px;
}

.step-list.inline > li.info {
  color: #b7b7b7;
  font-family: 'pf_dindisplay_probold', sans-serif;
  font-size: 18px;
  line-height: 21px;
  padding: 68px 0 0;
}

.step-list.inline > li.info .title {
  color: #b7b7b7;
}

.step-list.inline > li.info .phone {
  font-size: 24px;
  line-height: 34px;
}

.step-list.inline > li.info a {
  color: #b7b7b7;
}

.step-list.inline .num {
  display: inline-block;
  vertical-align: top;
  background: url(../images/deco05.png) no-repeat;
  width: 49px;
  height: 49px;
  text-align: center;
  color: #ef4036;
  font-size: 22px;
  line-height: 49px;
  float: none;
  margin: 0 0 19px;
}

.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews-list > li {
  width: 100%;
  margin: 0 0 20px;
  overflow: hidden;
}

.reviews-list .text-content {
  background: #ebebeb;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px 20px 2px 40px;
  position: relative;
  width: 680px !important;
  border: 2px solid transparent;
}

.reviews-list .text-content .img-holder {
  float: left;
  margin: 4px 0 20px 0;
}

.reviews-list .text-content .img-holder img {
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.11);
}

.reviews-list .text-content .frame {
  margin-left: 120px;
}

.reviews-list .text-content:before {
  content: '';
  position: absolute;
  background: url(../images/deco08.png) no-repeat;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 100%;
}

.reviews-list .text-content:hover {
  border-color: #ef4036;
}

.reviews-list .text-content:hover:before {
  background-position: 0 -20px;
}

.reviews-list .text-sidebar {
  width: 200px;
}

.reviews-list .text-sidebar .name {
  font-family: 'pf_dindisplay_promedium', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.reviews-list .hide-text {
  display: none;
}

.reviews-list .turn {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 28px;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  margin: 0 0 20px;
}

.reviews-list .turn:before {
  content: '';
  position: absolute;
  background: url(../images/deco09.png) no-repeat;
  width: 17px;
  height: 10px;
  top: 2px;
  left: 0;
}

.reviews-list .active .read-more {
  display: none;
}

.reviews-list .active .hide-text {
  display: block;
}

#header + .main-content {
  padding-top: 97px;
}

.reviews-more {
  width: 680px;
  margin: 0 0 156px;
}

.more-btn {
  padding: 11px 75px;
}

.more-btn .ico {
  display: inline-block;
  vertical-align: top;
  margin: 5px 8px -6px 0;
}

.more-btn .ico img {
  vertical-align: top;
}

.btn-holder.center {
  text-align: center;
}

.faq {
  margin: 0 0 100px;
}

.faq .question {
  width: 680px;
  margin: 0 0 10px;
}

.faq .question.question-form {
  width: auto;
  margin-top: 41px;
  margin-bottom: 30px;
}

.faq .question.question-form .frame {
  padding: 30px 30px;
}

.faq .question .frame {
  background: #ebebeb;
  position: relative;
  padding: 14px 30px;
  border-radius: 5px;
  font: 18px/21px 'pf_dindisplay_promedium', sans-serif;
}

.faq .question .frame p {
  margin: 0;
}

.faq .question .frame .triangle {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -100px;
  overflow: hidden;
  top: 15px;
}

.faq .question .frame .triangle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ebebeb;
  -webkit-transform: scale(1) rotate(45deg);
  -ms-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
  top: -30px;
  right: -35px;
}

.faq .answer {
  position: relative;
  padding: 0 70px 0 80px;
  margin: 0 0 30px;
}

.faq .answer:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/answer-ico.png) no-repeat;
  width: 40px;
  height: 40px;
}

.faq .answer.thanks {
  padding-left: 0;
}

.faq .answer.thanks .btn-holder {
  width: 220px;
}

.faq .answer.thanks .box {
  margin-left: 290px;
}

.faq .answer.thanks .box .title {
  color: #ef4036;
  font-size: 18px;
  line-height: 21px;
  font-family: 'pf_dindisplay_promedium', sans-serif;
}

.faq .answer.thanks .frame {
  padding: 31px 31px 15px;
}

.faq .answer .frame {
  background: #f5f5f5;
  position: relative;
  padding: 17px 31px 5px;
  border-radius: 5px;
  border: 2px solid transparent;
}

.faq .answer .frame .triangle {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -100px;
  overflow: hidden;
  top: 15px;
}

.faq .answer .frame .triangle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  -webkit-transform: scale(1) rotate(45deg) skewX(180deg) skewY(-45deg);
  -ms-transform: scale(1) rotate(45deg) skewX(180deg) skewY(-45deg);
  transform: scale(1) rotate(45deg) skewX(180deg) skewY(-45deg);
  top: 0px;
  left: -57px;
}

.faq .answer .hide-text {
  display: none;
}

.faq .answer .turn {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 28px;
  font-size: 14px;
  line-height: 15px;
  position: relative;
  margin: 0 0 15px;
}

.faq .answer .turn:before {
  content: '';
  position: absolute;
  background: url(../images/deco09.png) no-repeat;
  width: 17px;
  height: 10px;
  top: 2px;
  left: 0;
}

.faq .answer.active .read-more {
  display: none;
}

.faq .answer.active .hide-text {
  display: block;
}

.faq .answer:hover .frame {
  border: 2px solid #ef4036;
}

.faq .answer:hover .frame .triangle:after {
  border: 2px solid #ef4036;
}

.tabset .tab {
  display: none;
}

.tabset .tab.active {
  display: block;
}

.contacts-col {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  position: relative;
}

.contacts-col .col {
  float: left;
  width: 440px;
  font-size: 18px;
  line-height: 21px;
  height: 141px;
  position: relative;
  cursor: pointer;
}

.contacts-col .col:hover {
  background: #ebebeb;
  -webkit-box-shadow: 0 -10px 0 10px #ebebeb, 10px -10px 0 10px #ebebeb, -10px -10px 0 10px #ebebeb;
  box-shadow: 0 -10px 0 10px #ebebeb, 10px -10px 0 10px #ebebeb, -10px -10px 0 10px #ebebeb;
}

.contacts-col .col.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 10px;
  left: 0;
  right: 0;
  background: #ef4036;
}

.contacts-col .col.active:after {
  content: '';
  position: absolute;
  background: url(../images/deco10.png) no-repeat;
  width: 30px;
  height: 15px;
  top: 100%;
  left: 50%;
  margin-left: -15px;
}

.contacts-col .col + .col {
  float: right;
}

.contacts-col .col address {
  float: left;
  width: 245px;
  font-style: normal;
}

.contacts-col .col address strong {
  font-weight: normal;
  font-family: 'pf_dindisplay_promedium', sans-serif;
}

.contacts-col .col .phone-list {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}

.map-box {
  margin-bottom: -35px;
}

.popup-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: none;
}

.popup-holder .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.popup {
  position: absolute;
  left: 50%;
  top: 150px;
  margin-left: -460px;
  width: 920px;
  background: #fff;
}

.popup .close {
  position: absolute;
  background: url(../images/close.png) no-repeat;
  width: 20px;
  height: 20px;
  top: -14px;
  right: 20px;
  text-decoration: none;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 6;
}

.popup:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: #fff;
  top: -25px;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-1.4deg);
  -ms-transform: rotate(-1.4deg);
  transform: rotate(-1.4deg) skewX(-1.4deg) skewY(0deg);
}

.popup:after {
  content: '';
  position: absolute;
  z-index: 1;
  background: #fff;
  bottom: -25px;
  left: 0;
  top: 0;
  right: 0;
  -webkit-transform: rotate(-1.4deg);
  -ms-transform: rotate(-1.4deg);
  transform: rotate(-1.4deg) skewX(-1.4deg) skewY(0deg);
}

.popup .popup-main {
  position: relative;
  z-index: 5;
  padding: 12px 40px 36px;
}

.popup .popup-title {
  text-transform: uppercase;
  font: 24px/27px 'pf_dindisplay_probold', sans-serif;
  margin: 0 0 25px;
}

.popup .popup-title.red {
  color: #ef4036;
}

.checkbox-holder {
  display: inline-block;
  vertical-align: top;
}

div.check {
  float: left;
  width: 15px;
  height: 15px;
  margin: 1px 5px 0 0;
  position: relative;
  cursor: pointer;
  background: #ff0000 url(../images/checkbox.png) no-repeat;
}

div.check.checked {
  background-position: 0 -15px;
  background-color: #000;
}

div.radio {
  float: left;
  width: 15px;
  height: 15px;
  margin: 1px 5px 0 0;
  position: relative;
  cursor: pointer;
  background: #ff0000 url(../images/checkbox.png) no-repeat;
}

div.radio.checked {
  background-position: 0 -15px;
  background-color: #000;
}

div.check.disabled,
div.radio.disabled,
div.check.disabled + label,
div.radio.disabled + label {
  cursor: default !important;
  opacity: 0.5;
}

.checkbox-list {
  margin: 0 -10px 0 0;
  padding: 0 0 20px;
  list-style: none;
}

.checkbox-list > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 0 10px 10px 0;
}

.block-checkbox {
  border: 1px solid #cccccc;
  display: block;
  cursor: pointer;
  color: #ef4036;
  position: relative;
}

.block-checkbox .checkbox-label {
  display: table;
  width: 100%;
  height: 48px;
}

.block-checkbox .ico {
  display: table-cell;
  vertical-align: middle;
  width: 49px;
  text-align: center;
}

.block-checkbox .frame {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font: 12px/15px 'pf_dindisplay_probold', sans-serif;
  padding: 9px 15px 9px 0;
}

.block-checkbox .check {
  display: none;
  opacity: 0;
}

.block-checkbox.hover {
  background: #ebebeb;
}

.block-checkbox.active {
  background: #ebebeb;
}

.block-checkbox.active:after {
  display: block;
}

.block-checkbox.active.hover {
  color: #464646;
}

.block-checkbox.active.hover:after {
  display: none;
}

.block-checkbox.active.hover:before {
  display: block;
}

.block-checkbox.active.hover .ico img {
  opacity: 0;
}

.block-checkbox.active .ico img {
  opacity: 0;
}

.block-checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url(../images/ico25.png) no-repeat 50% 50%;
  display: none;
}

.block-checkbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url(../images/ico26.png) no-repeat 50% 50%;
  display: none;
}

.services {
  border-bottom: 3px solid #cccccc;
  margin: 0 -40px 39px;
  padding: 0 40px 18px;
  position: relative;
  font-family: 'pf_dindisplay_prolight', sans-serif;
}

.services .checkbox-list {
  padding: 0;
}

.services:before {
  content: '';
  position: absolute;
  background: url(../images/deco11.png) no-repeat;
  width: 24px;
  height: 14px;
  top: 100%;
  left: 50%;
  margin-left: -12px;
}

.services .head {
  padding: 0 0 21px;
}

.services .info {
  width: 420px;
  padding: 3px 0 0;
}

.services .title {
  float: left;
  font-size: 18px;
  line-height: 21px;
}

.custom-form {
  margin: 0;
}

.custom-form .row {
  width: 100%;
  position: relative;
  margin: 0 0 20px;
}

.custom-form .row:after {
  display: block;
  clear: both;
  content: '';
}

.custom-form .col {
  float: left;
  width: 400px;
}

.custom-form .col + .col {
  margin-left: 30px;
}

.custom-form .input-holder {
  display: block;
  border: 1px solid #cccccc;
  background: #fafafa;
  height: 28px;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0 4px 0 #ededed;
  box-shadow: inset 0 4px 0 #ededed;
}

.custom-form .input-holder input {
  float: left;
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  height: 28px;
  font: 18px/28px 'pf_dindisplay_proregular', sans-serif;
}

.custom-form .textarea-holder {
  display: block;
  border: 1px solid #cccccc;
  background: #fafafa;
  height: 128px;
  padding: 5px 10px;
  -webkit-box-shadow: inset 0 4px 0 #ededed;
  box-shadow: inset 0 4px 0 #ededed;
}

.custom-form .textarea-holder textarea {
  float: left;
  width: 100%;
  padding: 0;
  height: 128px;
  border: none;
  background: none;
  font: 18px/28px 'pf_dindisplay_proregular', sans-serif;
  overflow: auto;
  resize: none;
}

.custom-form .error-text {
  display: none;
  color: #fff;
  background: #ef4036;
  padding: 1px 10px 2px;
  font-size: 14px;
  line-height: 17px;
}

.custom-form .error .input-holder {
  border-color: #ef4036;
}

.custom-form .error .error-text {
  display: block;
}

.custom-form .form-info {
  font-size: 14px;
  margin: 0 0 20px;
}

.custom-form .file {
  float: left;
  width: 220px;
  overflow: hidden;
  position: relative;
  height: 40px;
}

.custom-form .file:hover .btn {
  background: #959595;
}

.custom-form .file .file-input-area {
  cursor: pointer;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  font-size: 40px;
  z-index: 2;
  opacity: 0;
}

.custom-form .file .btn {
  display: block;
  text-align: center;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.custom-form .file .btn .ico {
  vertical-align: top;
  margin: -2px 5px 0 0;
}

.custom-form button.btn {
  width: 220px;
  padding: 11px 32px;
  text-align: center;
}

.custom-form .error-box {
  margin: 0 240px;
  border: 1px solid #ef4036;
  padding: 12px 10px 12px 40px;
  color: #ef4036;
  position: relative;
}

.custom-form .error-box:before {
  content: '';
  position: absolute;
  background: url(../images/deco14.png) no-repeat;
  width: 19px;
  height: 17px;
  top: 10px;
  left: 10px;
}

.file-list {
  margin: 0;
  padding: 0 0 29px;
  list-style: none;
}

.file-list li {
  position: relative;
  border-bottom: 1px dotted #cccccc;
}

.file-list li:hover {
  background: #ebebeb;
}

.file-list .delete {
  position: absolute;
  top: 50%;
  right: 30px;
  background: url(../images/deco12.png) no-repeat;
  width: 12px;
  height: 12px;
  margin-top: -6px;
}

.file-list .name {
  padding: 11px 50px 11px 48px;
}

.file-list .name:before {
  content: '';
  background: url(../images/deco13.png) no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.payment-frame {
  font-family: 'pf_dindisplay_prolight', sans-serif;
}

.payment-frame .description {
  margin: 0 0 25px;
}

.payment-frame .description .info {
  float: left;
  width: 480px;
}

.payment-frame .description .text {
  float: right;
  width: 325px;
}

.payment-frame .description .phone {
  font-size: 18px;
  line-height: 23px;
  display: block;
}

.payment-frame .row {
  margin: 0 0 20px;
}

.payment-frame .row .drop {
  display: none;
  border: 3px solid #ef4036;
  padding: 20px 37px 22px;
  margin: 20px 10px 0 0;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  z-index: 3;
}

.payment-frame .row .drop .print {
  position: absolute;
  top: 27px;
  right: 27px;
  padding: 11px 20px;
}

.payment-frame .row .drop .print .ico {
  vertical-align: top;
  height: 17px;
  margin: 0 8px 0 0;
}

.payment-frame .row .drop p {
  margin: 0;
}

.pay-list {
  margin: 0 -10px 0 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -10px;
  position: relative;
  z-index: 5;
}

.pay-list li {
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align: center;
  margin: 0 10px 0 0;
  position: relative;
}

.pay-list li.active a {
  background: #ebebeb;
}

.pay-list li.active:before {
  content: '';
  position: absolute;
  background: url(../images/deco15.png) no-repeat;
  width: 40px;
  height: 23px;
  top: 100%;
  left: 50%;
  margin-left: -20px;
}

.pay-list li a {
  display: block;
  border: 1px solid #cccccc;
  height: 180px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #464646;
  text-decoration: none;
}

.pay-list li a:hover {
  text-decoration: none;
  background: #f5f5f5;
}

.pay-list li .ico {
  display: block;
  height: 100px;
  padding: 14px 0 12px;
}

.pay-list li .name {
  font: 18px/18px 'pf_dindisplay_promedium', sans-serif;
  display: block;
  text-align: center;
}

.attention {
  color: #ef4036;
  font-family: 'pf_dindisplay_promedium', sans-serif;
  position: relative;
  margin: 0 0 15px;
}

.attention:before {
  content: '';
  background: url(../images/deco14.png) no-repeat;
  width: 19px;
  height: 17px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
}

.translate-form {
  background: #ebebeb;
  padding: 27px 20px;
  margin: -3px -20px -20px;
}

.translate-form .frame {
  position: relative;
  padding: 0 44px 0 0;
}

.translate-form .rotate {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  bottom: 0;
  background: #fff;
}

.translate-form .rotate:before {
  content: '';
  position: absolute;
  background: url(../images/rotate.png) no-repeat;
  width: 20px;
  height: 34px;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -10px;
}

.translate-form .rotate:hover:before {
  background-position: -20px 0;
}

.translate-form .row {
  margin: 0 0 3px;
}

.translate-form select {
  width: 100%;
}

.translate-form .price {
  background: #f5f5f5;
  text-align: center;
  color: #ef4036;
  padding: 10px;
  font: 24px/27px 'pf_dindisplay_promedium', sans-serif;
  margin: 0 0 9px;
}

.translate-form .price-description {
  margin: 0 0 8px;
  font-size: 12px;
  line-height: 15px;
  font-family: 'pf_dindisplay_prolight', sans-serif;
}

.selectmenu {
  display: block;
  margin: 0;
  height: 30px;
  padding: 0;
  position: relative;
  text-decoration: none;
  background: #fff;
  cursor: pointer;
}

.selectmenu:hover {
  text-decoration: none;
}

.selectmenu:before {
  content: '';
  position: absolute;
  background: url(../images/deco17.png) no-repeat;
  width: 20px;
  height: 13px;
  top: 100%;
  left: 50%;
  margin-left: 10px;
  z-index: 10;
}

.selectmenu.active .selectmenu-icon {
  background-position: 0 -30px;
}

.selectmenu-status {
  text-decoration: none;
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background: url(../images/select-l.png) no-repeat;
  overflow: hidden;
  color: #464646;
  padding: 6px 0 0 10px;
}

.selectmenu-status span {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 20px;
  margin: -2px 10px 0 0;
}

.selectmenu-status span.rus {
  background: url(../images/rus.png) no-repeat;
}

.selectmenu-status span.eng {
  background: url(../images/eng.png) no-repeat;
}

.selectmenu-status span.spa {
  background: url(../images/spa.png) no-repeat;
}

.selectmenu-status span.fra {
  background: url(../images/fra.png) no-repeat;
}

.selectmenu-status span.ger {
  background: url(../images/ger.png) no-repeat;
}

.selectmenu-status span.nor {
  background: url(../images/nor.png) no-repeat;
}

.selectmenu-status span.pol {
  background: url(../images/pol.png) no-repeat;
}

.selectmenu-status span.swe {
  background: url(../images/swe.png) no-repeat;
}

.selectmenu-status span.fin {
  background: url(../images/fin.png) no-repeat;
}

.selectmenu-status span.ukr {
  background: url(../images/ukr.png) no-repeat;
}

.selectmenu-status span.geo {
  background: url(../images/geo.png) no-repeat;
}

.selectmenu-status span.kaz {
  background: url(../images/kaz.png) no-repeat;
}

.selectmenu-status span.uz {
  background: url(../images/uz.png) no-repeat;
}

.selectmenu-icon {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url(../images/select-r.png) no-repeat;
}

.selectmenu-menu {
  position: absolute;
  top: 0;
  margin: -2px 0 0;
  display: none;
  z-index: 80;
  background: #fff;
  -webkit-box-shadow: 3px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.selectmenu-menu ul {
  list-style: none outside none;
  overflow-y: auto;
  margin: 0;
  padding: 1px 0 0;
  max-height: 400px;
  background: #fff;
}

.selectmenu-menu li {
  display: block;
  padding: 6px 10px;
  color: #161616;
  text-decoration: none;
  cursor: pointer;
}

.selectmenu-menu li:hover {
  background: #f5f5f5;
  text-decoration: none;
}

.selectmenu-menu .icon {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 20px;
  margin: -2px 10px 0 0;
}

.selectmenu-menu .icon.rus {
  background: url(../images/rus.png) no-repeat;
}

.selectmenu-menu .icon.eng {
  background: url(../images/eng.png) no-repeat;
}

.selectmenu-menu .icon.spa {
  background: url(../images/spa.png) no-repeat;
}

.selectmenu-menu .icon.fra {
  background: url(../images/fra.png) no-repeat;
}

.selectmenu-menu .icon.ger {
  background: url(../images/ger.png) no-repeat;
}

.selectmenu-menu .icon.nor {
  background: url(../images/nor.png) no-repeat;
}

.selectmenu-menu .icon.pol {
  background: url(../images/pol.png) no-repeat;
}

.selectmenu-menu .icon.swe {
  background: url(../images/swe.png) no-repeat;
}

.selectmenu-menu .icon.fin {
  background: url(../images/fin.png) no-repeat;
}

.selectmenu-menu .icon.ukr {
  background: url(../images/ukr.png) no-repeat;
}

.selectmenu-menu .icon.geo {
  background: url(../images/geo.png) no-repeat;
}

.selectmenu-menu .icon.kaz {
  background: url(../images/kaz.png) no-repeat;
}

.selectmenu-menu .icon.uz {
  background: url(../images/uz.png) no-repeat;
}

.selectmenu-open {
  display: block;
}

* html .selectmenu-icon {
  margin: 0 0 0 -3px;
}

.selectmenu-item-selected li:hover,
.selectmenu-item-selected li {
  background: #eee;
  text-decoration: none;
  color: #7d7d7d;
}

.sale-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sale-list li {
  margin: 0 0 10px;
}

.sale-list .sale {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  color: #ef4036;
  font: 24px/27px 'pf_dindisplay_probold', sans-serif;
}

.promo-list.inner li {
  width: 200px;
}

.client-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -10px;
}

.client-list li {
  font-size: 14px;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  line-height: 80px;
  height: 80px;
  text-align: center;
  width: 50%;
  margin: 0 0 25px;
}

.client-list img {
  vertical-align: middle;
}

.callback-form .col + .col {
  margin-left: 20px;
}

.callback-form button.block-btn {
  display: block;
  width: 100%;
}

.callback-form button.block-btn .ico {
  margin: -4px 8px 0 0;
  vertical-align: top;
}

.callback-form .col240 {
  width: 240px;
}

.callback-form .col380 {
  width: 380px;
}

.callback-form .col170 {
  width: 170px;
}

.shadow-img {
  -webkit-box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 0 2px 2px 3px rgba(0, 0, 0, 0.11);
}

.rotate-hr {
  margin: 0 0 50px;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transform: rotate(-2.4deg);
  -ms-transform: rotate(-2.4deg);
  transform: rotate(-2.4deg);
}

@font-face {
  font-family: 'pf_dindisplay_proregular';
  src: url('../fonts/pfdindisplaypro-reg-webfont.eot');
  src: url('../fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-reg-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_prolight';
  src: url('../fonts/pfdindisplaypro-light-webfont.eot');
  src: url('../fonts/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-light-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-light-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_prothin';
  src: url('../fonts/pfdindisplaypro-thin-webfont.eot');
  src: url('../fonts/pfdindisplaypro-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-thin-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-thin-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-thin-webfont.svg#pf_dindisplay_prothin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_promedium';
  src: url('../fonts/pfdindisplaypro-med-webfont.eot');
  src: url('../fonts/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-med-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-med-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_probold';
  src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
  src: url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_proitalic';
  src: url('../fonts/pfdindisplaypro-italic-webfont.eot');
  src: url('../fonts/pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-italic-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-italic-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-italic-webfont.svg#pf_dindisplay_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_probold_italic';
  src: url('../fonts/pfdindisplaypro-boldital-webfont.eot');
  src: url('../fonts/pfdindisplaypro-boldital-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-boldital-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-boldital-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-boldital-webfont.svg#pf_dindisplay_probold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_proMdIt';
  src: url('../fonts/pfdindisplaypro-medital-webfont.eot');
  src: url('../fonts/pfdindisplaypro-medital-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-medital-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-medital-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-medital-webfont.svg#pf_dindisplay_proMdIt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_dindisplay_prolight_italic';
  src: url('../fonts/pfdindisplaypro-lightital-webfont.eot');
  src: url('../fonts/pfdindisplaypro-lightital-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pfdindisplaypro-lightital-webfont.woff') format('woff'), url('../fonts/pfdindisplaypro-lightital-webfont.ttf') format('truetype'), url('../fonts/pfdindisplaypro-lightital-webfont.svg#pf_dindisplay_prolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font: 36px/40px 'pf_dindisplay_probold', sans-serif;
  margin: 0 0 27px;
  text-transform: uppercase;
}

h2 {
  font: 24px/27px 'pf_dindisplay_probold', sans-serif;
  margin: 0 0 27px;
  text-transform: uppercase;
}

h3 {
  font: 18px/21px 'pf_dindisplay_probold', sans-serif;
  margin: 0 0 12px;
  text-transform: uppercase;
}

h4 {
  font: 18px/21px 'pf_dindisplay_promedium', sans-serif;
  margin: 0 0 15px;
}

h5 {
  font: 18px/21px 'pf_dindisplay_promedium', sans-serif;
  margin: 0;
}

.size18 {
  font-size: 18px;
  line-height: 21px;
}

.size18 p {
  margin-bottom: 23px;
}

.medium {
  font-family: 'pf_dindisplay_promedium', sans-serif;
}